<!DOCTYPE HTML>
<html>
    <head>    
        <link rel="shortcut icon" href="{{ asset('bundles/mercadopagina/images/favicon.ico') }}" />
   		<meta charset="utf-8">
        <title>{% block title %}Mercado de Sabores{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" media="all" href="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="{{ asset('bundles/mercadopagina/js/gmap.js') }}"></script>
		
		<link href="{{ asset('bundles/mercadopagina/css/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/mercadopagina/css/bootstrap-responsive.css') }}" rel="stylesheet">
        
        <link href="{{ asset('bundles/mercadopagina/css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mercadopagina/css/slide-show-home.css') }}" rel="stylesheet">
        
        
		<script src="{{ asset('bundles/mercadopagina/js/jquery.js') }}"></script>
		<script src="{{ asset('bundles/mercadopagina/js/slide-show-home.js') }}"></script>

		<script>
		
		$(document).ready(function(){
			
 			$("textarea").text("Mensagem.");
			
			$('#mercado_paginabundle_contatotype_nome').focusout(function(){				
				if( this.value === ''){
					this.value = 'nome'
				}			
			});
			
			$('#mercado_paginabundle_contatotype_email').focusout(function(){				
				if( this.value === ''){
					this.value = 'e-mail'
				}
			});
			
			$('#mercado_paginabundle_contatotype').delegate('input', 'focus', function() {
			    if (this.value === 'nome' || this.value === 'e-mail') {
			        this.value = '';
			    }
			});
			
			$('#mercado_paginabundle_contatotype_contato').focusout(function(){				
				if( this.value === ''){
					this.value = 'Mensagem.'
				}
			});
			
			$('#mercado_paginabundle_contatotype').delegate('textarea', 'focus', function() {
			    if (this.value === 'Mensagem.') {
			        this.value = '';
			    }
			});
			
		});
		
		</script>			
   		</head>
   		<body>
	   		<div class="header">
				<div class="container-narrow">
					<div class="row-fluid">
						<div class="logo span8">
		
							<a href="{{ path('_welcome') }}"><img
								alt="Logo da loja Mercado de Sabores"
								src="{{ asset('bundles/mercadopagina/images/logo.png')  }}"></a>
						</div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=496543693757445";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-like span4 visible-desktop"
							data-href="http://www.facebook.com/lojamercadodesabores" 
							data-width="400" 
							data-colorscheme="dark" data-action="recommend" data-show-faces="true" data-send="true">						
						</div>
					</div>
				</div>
			</div>
			<div class="banner row-fluid">
			<h2 class="span5">Mercado de Sabores trás para você, alimentos sadios, limpos, cultivados sem agrotóxicos e sem fertilizantes químicos.</h1>
			<div class="line-border span1 hidden-phone"><div class="line-border-intern"></div></div>
			<div class="slides span5 hidden-phone">
				<div id="slideshow" class="img_banner">
					<div id="slideshowWindow">
						<div class="slide">
							<div class="slideText">
								<h2 class="slideTitle">Mel</h2>
								<p class="slideDes">Para gripes e resfriados, um ótimo aliado é o mel. Experimente!</p>
								<!-- 							<p class="slideLink"> -->
								<!-- 								<a href="#">click here</a> -->
								<!-- 							</p> -->
							</div>
							<div class="imagem-banner"><img src="{{ asset('bundles/mercadopagina/images/img_banner_01.png') }}" /></div>
						</div>
						<!--/slide-->
						<div class="slide">
							<div class="slideText">
								<h2 class="slideTitle">Óleo de Côco</h2>
								<p class="slideDes">Este óleo, seja em cápsula ou líquido, auxilia fortemente na redução de peso.</p>
								<!-- 							<p class="slideLink"> -->
								<!-- 								<a href="#">click here</a> -->
								<!-- 							</p> -->
							</div>
							<div class="imagem-banner"><img src="{{ asset('bundles/mercadopagina/images/img_banner_02.png') }}"/></div>						
						</div>
						<!--/slide-->
						<div class="slide">
							<div class="slideText">
								<h2 class="slideTitle">Chá Verde</h2>
								<p class="slideDes">A fama deste chá é milenar. É estimulante, auxilia em questões estéticas e muito mais. Passe na nossa loja para saber mais!</p>
								<!-- 							<p class="slideLink"> -->
								<!-- 								<a href="#">click here</a> -->
								<!-- 							</p> -->
							</div>
							<div class="imagem-banner"><img src="{{ asset('bundles/mercadopagina/images/img_banner_03.png') }}" /></div>
						</div>
						<!--/slide-->
					</div>
					<!--/slideshowWindow-->
				</div>
				<!--/slideshow-->
			</div>
		</div>
		<div class="container-narrow">
		<!-- 		<hr> -->
				{% block content_header %}
	            	{% block content_header_more %}
	            	{% endblock %}
	            {% endblock %}

	          	{% block content %}
	            {% endblock %}

		</div>
		<div class="footer">
			<div class="container-narrow row-fluid">
				<div class="google-maps span6">
					<iframe width="100%" height="100%" frameborder="0" scrolling="no"
						marginheight="0" marginwidth="0"
						src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Av.+Pres.+Franklin+Roosevelt,+1241+
						-+S%C3%A3o+Geraldo,+Porto+Alegre+-+RS,+Brasil&amp;aq=0&amp;oq=Avenida+Presidente+Franklin+Roosevelt,+1241+-
						+&amp;sll=37.0625,-95.677068&amp;sspn=39.916234,80.859375&amp;t=p&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Pres.+Franklin+Roosevelt,
						+1241+-+S%C3%A3o+Geraldo,+Porto+Alegre+-+Rio+Grande+do+Sul,+90230-002,+Rep%C3%BAblica+Federativa+do+Brasil&amp;ll=-30.012625,
						-51.208434&amp;spn=0.013006,0.018239&amp;z=15&amp;output=embed"></iframe>
					<br />
				</div>
				<div class="endereco span6">
					<p>
						Avenida Presidente Franklin Roosevelt, 1241 - Loja 04<br>
						Navegantes - Porto Alegre, RS<br>
					<h2>51 3028 7219</h2>
					</p>
	
					<a class="visible-desktop"
						href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=
								Av.+Pres.+Franklin+Roosevelt,+1241+-+S%C3%A3o+Geraldo,+Porto+Alegre+-+RS,+Brasil&amp;aq=0&amp;oq=Avenida+
								Presidente+Franklin+Roosevelt,+1241+-+&amp;sll=37.0625,-95.677068&amp;sspn=39.916234,80.859375&amp;t=p&amp;ie=UTF8&amp;
								hq=&amp;hnear=Av.+Pres.+Franklin+Roosevelt,+1241+-+S%C3%A3o+Geraldo,+Porto+Alegre+-+Rio+Grande+do+Sul,+90230-002,+
								Rep%C3%BAblica+Federativa+do+Brasil&amp;ll=-30.012625,-51.208434&amp;spn=0.013006,0.018239&amp;z=15"
						style="color: #0000FF; text-align: left" target="_blank">
						<div class="ico_goo">Abra no google!</div>
					</a>
				</div>
				<!-- 			<div class="dw"><p>&copy; Company 2013</p></div>					 -->
			</div>
		</div>
	</body>
</html>