<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mercado de Sabores{% endblock %}</title>
        <link href="{{ asset('bundles/mercadopagina/css/main.css') }}" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" media="all" href="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
   		</head>
   		<div class="header">
       		<div class="main">
				<div class="media">
					<!--<div class="face-img">
						<img src="{{ asset('bundles/mercadopagina/images/face_madeira.png') }}">
					</div>-->
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=496543693757445";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
			   	<div class="fb-like" data-href="https://www.facebook.com/www.mercadodesabores.com.br?ref=ts&amp;fref=ts" data-send="true" data-width="700" data-show-faces="true" data-colorscheme="dark"></div>
		   		</div>
			</div>
		</div>
       	<div class="main content1">
			<div class="banner">
				<div class="previous">
					<a href="#"></a>
				</div>
				<div class="one">
					<div class="title">
						<h2>Produto Destaque</h2>
					</div>
					<div class="paragraph">
						<p>Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the industry's standard
							dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<div class="img_banner">
						<img src="{{ asset('bundles/mercadopagina/images/img_banner_01.png') }}">
					</div>
				</div>
				<div class="next">
					<a href="#"></a>
				</div>
		</div>
		<div class="logo">
			<a href="{{ path('_welcome') }}"><img alt="Logo da loja Mercado de Sabores" src="{{ asset('bundles/mercadopagina/images/logo.png') }}"></a>			
		</div>
		<div class="content2">
			{% block content_header %}
            	{% block content_header_more %}
           		<!--<li><a href="{ path('_demo') }}">Demo Home</a></li>-->
            	{% endblock %}
            {% endblock %}
                
          	{% block content %}
            {% endblock %}
        </div>
			
	</div>
	<div class="footer">
       	<div class="main">
       		<div class="endereco">
				<p>Avenida Presidente Franklin Roosevelt, 1241 - Loja 04<br>
				Navengantes - Porto Alegre, RS<br>
				Telefone : 3028 7219</p>
			</div>
			<div class="google-maps">
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Av.+Pres.+Franklin+Roosevelt,+1241+-+S%C3%A3o+Geraldo,+Porto+Alegre+-+RS,+Brasil&amp;aq=0&amp;oq=Avenida+Presidente+Franklin+Roosevelt,+1241+-+&amp;sll=37.0625,-95.677068&amp;sspn=39.916234,80.859375&amp;t=p&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Pres.+Franklin+Roosevelt,+1241+-+S%C3%A3o+Geraldo,+Porto+Alegre+-+Rio+Grande+do+Sul,+90230-002,+Rep%C3%BAblica+Federativa+do+Brasil&amp;ll=-30.012625,-51.208434&amp;spn=0.013006,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Av.+Pres.+Franklin+Roosevelt,+1241+-+S%C3%A3o+Geraldo,+Porto+Alegre+-+RS,+Brasil&amp;aq=0&amp;oq=Avenida+Presidente+Franklin+Roosevelt,+1241+-+&amp;sll=37.0625,-95.677068&amp;sspn=39.916234,80.859375&amp;t=p&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Pres.+Franklin+Roosevelt,+1241+-+S%C3%A3o+Geraldo,+Porto+Alegre+-+Rio+Grande+do+Sul,+90230-002,+Rep%C3%BAblica+Federativa+do+Brasil&amp;ll=-30.012625,-51.208434&amp;spn=0.013006,0.018239&amp;z=15" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
			</div>
			<div class="dw">
			</div>
		</div>
	</div>
</html>